<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
	{{ partial "widgets/search.html" . }}
	{{ partial "widgets/categories.html" . }}
	{{ partial "widgets/social.html" . }}
	
	<a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNN+8M6UYA+39EO+62U35&asid=a18040545385" target="_blank" rel="nofollow">
        <img border="0" width="640" height="220" alt="" src="https://www24.a8.net/svt/bgt?aid=180405347521&wid=001&eno=01&mid=s00000015216001021000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2ZEPNN+8M6UYA+39EO+62U35" alt="">	
	
	
	{{ partial "widgets/tagdetaillist.html" . }}

	{{- if and (not .Site.Params.widgets.search) (not .Site.Params.widgets.recent) (not .Site.Params.widgets.categories) (not .Site.Params.widgets.social) (not .Site.Params.widgets.taglist) }}
	<p class="sidebar__warning"><strong>WARNING:</strong><br>Please activate at least one sidebar widget.</p>
	{{- end }}
</aside>
