<div class="widget-taglist widget">
	<h4 class="widget__title">主な著書</h4>
    
    <div align="center">
    <a href="https://amzn.to/30jqAud" target="_blank" rel="noopener noreferrer">
        <img src="{{ "flask_zero.jpg" | relURL }}" Width='250' margin='10pt'　alt="ゼロからFlaskがよくわかる本" />
    </a>

    <a href="https://amzn.to/33gMEYt" target="_blank" rel="noopener noreferrer">
        <img src="{{ "python_qa.jpg" | relURL }}" Width='250' 　alt="１問1答でわかる。はじめてのPythonプログラミング" />
    </a>

    <a href="https://amzn.to/2EKxH6Z" target="_blank" rel="noopener noreferrer">
        <img src="{{ "python_serverless.jpg" | relURL }}" Width='250' 　alt="Pythonで作るはじめてのサーバレスアプリケーション" />
    </a>

    <a href="https://amzn.to/2PeF5Js" target="_blank" rel="noopener noreferrer">
        <img src="{{ "python_es.jpg" | relURL }}" Width='250' 　alt="Pythonで作るはじめてのElasticsearchアプリケーション" />
    </a>

    <a href="https://amzn.to/2XkWR2j" target="_blank" rel="noopener noreferrer">
        <img src="{{ "flask_v1.jpg" | relURL }}" Width='250' 　alt="ざっくりFlask1.0の新機能を把握する本" />
    </a>


    <a href="https://amzn.to/2DdI1DM" target="_blank" rel="noopener noreferrer">
        <img src="{{ "mackerel.jpg" | relURL }}" Width='250' 　alt="Mackerelで作るはじめてのWebサービス監視" />
    </a>
    </div>

</div>