{{- if .Site.Params.widgets.recent_articles }}
<div class="widget-recent widget">
	<h4 class="widget__title">Popular Posts</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="/post/nodejs_env/">node.jsで環境変数を設定・取得</a></li>
			<li class="widget__item"><a class="widget__link" href="/post/django_logger/">djangoでのloggerの使い方</a></li>
			<li class="widget__item"><a class="widget__link" href="/post/logjam/">logjam脆弱性と対策</a></li>
			<li class="widget__item"><a class="widget__link" href="/post/elasticsearch_install/">ElasticSearchの導入</a></li>
			<li class="widget__item"><a class="widget__link" href="/post/git_save_pw/">gitでパスワードを保存する</a></li>
			<li class="widget__item"><a class="widget__link" href="/post/pipenv/">pipenvの使い方</a></li>
		</ul>
	</div>
</div>
{{- end }}
