<div class="widget-recent widget">
	<h4 class="widget__title">Recommend</h4>
	<div class="widget__content">
			<ul class="widget__list">
          <li class="widget__item">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNP+6RIB76+3TVC+HV7V6" target="_blank" rel="nofollow">Tech Boost</a>
              <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2ZEPNP+6RIB76+3TVC+HV7V6" alt="">
          </li>
          <li class="widget__item">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNP+6Y22UQ+3AQG+HVFKY" target="_blank" rel="nofollow">英語学習の新定番！スタディサプリ ENGLISH</a>
              <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=2ZEPNP+6Y22UQ+3AQG+HVFKY" alt="">
          </li>
          <li class="widget__item">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNP+3ENBEA+3O4Y+61Z82" target="_blank" rel="nofollow">スマホやタブレットでカード決済</a>
              <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2ZEPNP+3ENBEA+3O4Y+61Z82" alt="">
          </li>
          <li class="widget__item">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNP+5YCTU+3L4M+6L9O2" target="_blank" rel="nofollow">【ゼロから始めるデータ分析】 ビジネスケースで学ぶPythonデータサイエンス入門</a>
              <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2ZEPNP+5YCTU+3L4M+6L9O2" alt="">
          </li>
          <li class="widget__item">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNP+5YCTU+3L4M+5Z6WY" target="_blank" rel="nofollow">楽天ユーザー限定！今なら対象のコースが期間限定で一律2000円！この機会に新しい知識を増やそう</a>
              <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2ZEPNP+5YCTU+3L4M+5Z6WY" alt="">
          </li>
          <li class="widget__item">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZEPNP+6YNIGI+3DIG+5ZEMQ" target="_blank" rel="nofollow">２歳～年長さんまで対応の家庭学習教材【月刊ポピー】。今なら無料見本プレゼント</a>
              <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=2ZEPNP+6YNIGI+3DIG+5ZEMQ" alt="">
          </li>
      </ul>
	</div>
</div>
